.container {
  color: #fff;
  padding: 15px;
  width: 100%;
}

.input {
  /*position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: auto;
  overflow: auto;
  box-shadow: -10px 2px 6px 10px rgba(0,0,0,0.4);*/
  font-size: 12px;
  border: 1px solid #ccc;
  width: 100%;
}

/*
.CodeMirror pre{
  line-height: 16px;
}

.ReactCodeMirror {
	border: 1px solid #ccc;
}

.CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
}

.CodeMirror-scroll {
  padding: 30px;
  box-sizing: border-box;
}
*/
