{
  "plugins": [ "react", "babel", "import" ],
  "extends": [ "react-app", "prometheusresearch", "plugin:import/errors", "plugin:import/warnings" ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true
  },
  "rules": {
    "linebreak-style": "warn",
    "quotes": "off",
    "no-console": "off",
    "no-unused-vars": "warn"
  }
}
