.app {
  padding: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.io {
  flex: 1;
  overflow-x: auto;
}

.toolbar {
  padding: 10px 0 10px 0;
}

.toolbarButton {
  margin-bottom: 10px !important;
}

.toolbarButtonRight {
  /*float: right !important;*/
  margin-left: 40px !important;
}

@media (--small) {
  .app {
    padding: 20px  !important;
  }

  .container {
    flex-flow: column wrap;
  }

  .io {
    width: 100%;
    margin-bottom: 10px;
  }

  .largeScreenOnly {
    display: none !important;
  }

  .smallScreenOnly {
    display: block !important;
  }
}
