.header {
  padding-bottom: 10px;
}

.header h2{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  margin: 0;
}

/* logo */
.icons {
  vertical-align: top;
  display: inline-block;
  height: auto;
}

.logoCollaborizm, .logoReact {
  vertical-align: center;
  display: inline-block;
}

.logoCollaborizm {
  height: 30px;
  margin-left: 20px;
}

.logoReact {
  height: 35px;
  animation: logoReactSpin infinite 20s linear;
}

@keyframes logoReactSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (--small) {
  .header{
    margin-bottom: 10px;
    text-align: center;
  }

  /* hide logos on mobile (width < 768 px) */
  .logoCollaborizm, .logoReact {
    display: none !important;
  }

  .largeScreenOnly {
    display: none !important;
  }

  .smallScreenOnly {
    display: block !important;
  }
}
