body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f6f6f6;
  color: #555;
  overflow-x: hidden !important;
}

body.modal-open .app-container {
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);*/
  filter: blur(5px);
}
